<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <a href="/logout">Logout</a>
    <a href="/new/character">Create New Character</a>

    <div>
        <h2>Characters</h2>

        <table>
            <tr>
                <th>Character</th>
                <th>Player</th>
                <th>Options</th>
            </tr>
            {% for character in characters %}

            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.creator.first_name }} {{ character.creator.last_name }}</td>
                <td>
                    {% if character.creator.id == user.id: %}
                    <a href="/edit/{{character.id}}">Edit</a>
                    <a href="/delete/{{character.id}}">delete</a>
                    {% else %}
                    <a href="/show/{{character.id}}">View</a>
        
                    {% endif %}
                </td>
            {% endfor %}
            </tr>

        </table>



    </div>

</body>
</html>